

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
     background-color: #EDF0F7;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
}
/* shared style */
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
}
/* main styles */
main{
    max-width: 80%;
    margin: 0 auto;
   
}


/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: auto;

}
nav logo{
    font-size: 34px;
    font-weight: bolder;

}
.banner-cintainer{
    text-align: center;
}


.banner-title{
    margin-top: 200px;
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.in-action{
    display: flex;
    justify-content: space-between;
    margin-top: 105px;
}
 .section-title h3 {
    font-size: 42px;
    font-weight: bold;
     color: #252432;
 }   
 .section-title p{
    font-size: 24px;
    color: #252432;
 }
 .in-action img{
    border-radius: 10px;
 }
 .joined-users{
    background-color: #D5D4FF;
    margin-top: 100px;
 }
 .joined-users h4{
    font-size: 38px;
    font-weight: bold;
    margin-top: 100px;
 }
 .user-amount{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;

 }
 .user-description{
    font-size: 20px;
 }
 .users-info-container{
    display: flex;
    justify-content: center;
    gap: 158px;
    align-items: center;
    margin-top: 0;
 }
 .joined-users{
    text-align: center;
 }
 .review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }
 .usre-review{
    height: 234px;
    width: 366px;
    background-color: white;
 }
 .card-container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    
 }
 .review-title{
    text-align: center;    
 }

.joined-users-title{
    padding-top: 100px;
}
.cards{
    height: 240px;
    width: 332.5px;
    background-color: white;
    padding: 24px;
}
.section-focus{
    height: 650px;
    align-items: center;
    margin-top: 100px;
    background-color: white;
    justify-content: center;

}
.focus-text{
    text-align: center;
    padding-top: 50px;

}
.focus-img{
    align-items: center;
    margin-left: 170px;
    margin-top: 40px;
    border-radius: 10px;
}
.section-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 632px;
    
}
.touch-title{
    font-size: 97px;
    font-weight: bold;
}
.form-container{
    display: flex;
    flex-direction: column;
    width: 497px;
    height: 490;
    gap: 30px;
}
